<header>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="router-link-active">Home</a></li>
      <li><a routerLink="/characters" routerLinkActive="router-link-active">Characters</a></li>
      <li><a routerLink="/about" routerLinkActive="router-link-active">About</a></li>
      <li><a routerLink="/players" routerLinkActive="router-link-active">Players</a></li>
      <li><a routerLink="/signin" routerLinkActive="router-link-active">Sign In</a></li>
      <li><a routerLink="/create-character" routerLinkActive="router-link-active">Create Character</a></li>
      <li><a routerLink="/create-guild" routerLinkActive="router-link-active">Create Guild</a></li>
      <li><a routerLink="/character-faction" routerLinkActive="router-link-active">Character Faction</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet> <!-- Main content will be displayed here -->
</main>

<footer>
<nav>
  <ul>
    <li><a routerLink="/" routerLinkActive="router-link-active">Home</a></li>
    <li><a routerLink="/characters" routerLinkActive="router-link-active">Characters</a></li>
    <li><a routerLink="/about" routerLinkActive="router-link-active">About</a></li>
    <li><a routerLink="/players" routerLinkActive="router-link-active">Players</a></li>
    <li><a routerLink="/signin" routerLinkActive="router-link-active">Sign In</a></li>
    <li><a routerLink="/create-character" routerLinkActive="router-link-active">Create Character</a></li>
    <li><a routerLink="/create-guild" routerLinkActive="router-link-active">Create Guild</a></li>
    <li><a routerLink="/character-faction" routerLinkActive="router-link-active">Character Faction</a></li>
  </ul>
</nav>
  <p>© 2025 RPG Character Builder</p>
</footer>