<header>
  <nav>
    <ul>
      <li><a href="#" routerLink="/">Home</a></li>
      <li><a href="#" routerLink="/characters">Characters</a></li>
      <li><a href="#" routerLink="/about">About</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet> <!-- Main content will be displayed here -->
</main>

<footer>
  <nav>
    <ul>
      <li><a href="#" routerLink="/">Home</a></li>
      <li><a href="#" routerLink="/characters">Characters</a></li>
      <li><a href="#" routerLink="/about">About</a></li>
    </ul>
  </nav>
  <p>© 2025 RPG Character Builder</p>
</footer>
